//variables
$color-button: rgb(113, 36, 36);

//Cambios generales

*{
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;

    /* Depurar código*/
    //border: solid red;
}
