//variables
$color-black: black;
$color-white: white;
$color-button: rgb(113, 36, 36);

//Cambios generales

*{
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    color: $color-white;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;

    /* Depurar código*/
    //border: solid red;
}

//Background principal

.background{
    width: 100%;
    height: 100vw;
}

//Estilo de Navbar (class: "nav")

nav{
    background-color: rgba($color-black, 40%);
    width: 100%;
    height: 10vh;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    top: 0;

    .nav__logo{
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-left: 2%;
        margin-bottom: 0.5vh;
    }

    .nav__link{
        width: 50%;
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .nav__button{
    display: flex;
    flex-direction: row;
    gap: 20%;
    }

    .nav__button--login{
        font-size: 1.5rem;
        background-color: $color-button;
        width: 10vw;
        height: 10vh;
    }

    .nav__button--register{
        font-size: 1.5rem;
    }
}

//Sección hero (portada)

.hero{
    width: 100%;
    margin-top: -95%;
    display: flex; 
}

.hero__info{
    width: 50%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.hero__info--row{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.hero__h1{
    font-size: 520%;
    display: flex;

}

.hero__content{
    font-size: 200%;
    display: flex;
}

.hero__img{
    width: 30%;
}

.hero__button{
    width: 25%;
    color: orange;
    font-size: 2rem;
    
}

.hero__button--products{
    border: solid orange;
    padding: 10px 0px 5px 65px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


//Productos

.products{
    width: 100%;
    margin-top: 30vh;
}

.products__img{
    box-shadow: 5px -2px 68px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 5px -2px 68px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px -2px 68px 0px rgba(0,0,0,1);
    -ms-box-shadow: 5px -2px 68px 0px rgba(0,0,0,1);
    -o-box-shadow: 5px -2px 68px 0px rgba(0,0,0,1);    
}